
.github-icon  {
    font-size: 1.5em;
    color: #c8c8c8;
}

.github-icon:hover  {
    font-size: 1.5em;
    color: #303030;
}

.tw-icon  {
    font-size: 1.5em;
    color: #c8c8c8;
}

.tw-icon:hover  {
    font-size: 1.5em;
    color: #303030;
}

.linkedin-icon  {
    font-size: 1.5em;
    color: #c8c8c8;
}

.linkedin-icon:hover  {
    font-size: 1.5em;
    color: #303030;
}

.left-nav {
    margin-left: 10%;
}